.contact-box-main {
height: 636px;
padding: 70px;
}
.containercontact {
    display: flex;
    height: 540px;
    flex-direction: row;
}
.contactformright {
    width: 730px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.contact-info-left {
    padding: 20px;
    background: url(../images/contact-bg.jpg) no-repeat center;
    background-size: cover;
    width: 350px;
    height: 233px;
    color: black;
    text-decoration: none;
}
.submitmess {
    text-align: center !important;
    margin-top: 15%;
}
.submit123{
    background-color: #b0b435;
    color: white;
    border: 0cm;
    width: 151px;
    height: 44px;
    font-size: 15px;
}
.submit123:hover{
    background-color: black;
    color: white;
}