.my-account-box-main {
    padding: 70px 0px;
    height: 1175px;
}
.hang1{
   padding: 10px;
    height: 260px;
    display: flex;
    justify-content: space-around;
}
.hop{
    width: 360px;
    height: 260px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service-desc h4 {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
}
.service-desc p {
    font-size: 16px;
    color: #6c757d;
}
hr{
    width: 1110px;
    color: #6c757d;
}

.hop ul{
    list-style-type: none;
    display: flex;
justify-content: center;
flex-direction: column;
padding: 0;
   
}
.hop a{
text-decoration: none;
color: black;
display: flex;
justify-content: center;
}
