.wishlist-box-main{
padding: 70px;
}

.wishlist-box-main  img{
    width: 96px;
    height: 91px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse; border-spacing: 0;
}
 .table thead {
    background: #b0b435;
    color: #ffffff;
    font-size: 18px;
    height: 57px;
    border: none;
}
.table  tr{
    text-align: center;
}
.table  tr  a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.addcart{
    background-color: #b0b435;
    width: 113px;
    height: 44px;
    padding: 10px;
  color: #ffffff !important;
}

.addcart:hover{
    background-color: black;
}
